<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Overly Complicated Whitelabel Generator</title>
        <link rel="icon" href="/static/images/logo.png" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        <img src="/static/images/logo.png" class="main-logo" />
        <p><em>Overly Complicated</em> Whitelabel Generator</p>
        <div class="company-form">
            <label for="company-name">Company Name</label>
            <input type="text" id="company-name" />
            <div class="submit-btns">
                <button type="button" id="create" class="nes-btn submit-btn is-primary">Create</button>
            </div>
            <p id="resp-msg" class="hidden">Please wait...</p>
        </div>
    </body>
    <script type="text/javascript" src="/static/js/main.js"></script>
</html>
