@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: VT323, monospace;
    font-size: 16pt;
    color: white;
    background-color: #1f1f2d;
    padding-bottom: 100px;
}

img {
    width: 128px;
    height: 128px;
}

.hidden {
    display: none;
}
